article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}a,hr{padding:0}abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}ins,mark{background-color:#ff9;color:#000}body{line-height:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}ins{text-decoration:none}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;margin:1em 0}input,select{vertical-align:middle}

a {
  color: inherit;
  text-decoration: inherit;
}

body {

	color: orangered;
	font-weight: bold;
	font-size: 20px;
	height: 100%;
	width: 100%;
	text-shadow: deeppink 1px 0 10px;
}




.header{
	width: 100%;
	flex: 1;
	white-space: nowrap;
	text-align: right;
  overflow: hidden;
  display: inline-block;
  animation: marquee 20s linear infinite;  
} 

.wrapper{
	flex: 8;
	width: 100vw;
	display: flex;
	justify-content: stretch;
	flex-direction: row;
	background: green;

}

.left {
 flex: 1;
 height: 100vh;
}

.center {
  margin-top: 7vh;
 flex: 3;
  height: 100vh;
 text-shadow: darkblue 1px 0 10px;
 display: flex;
 flex-direction: column;
}


.container{
  flex: 1;
  display: flex;
 flex-wrap: wrap;
 flex-direction: row;

}

.block{
  flex: 2;
  pointer-events: none;
}

.right {
 flex: 1;
  height: 100vh;
}

.center div{
  min-width: 250px;
}

.illustrations {
 flex: 1;
}
.about {
 flex: 1;
}
.photography {
 flex: 1;
}
.VJ { 
 flex: 1;
}
.webdesign {
 flex: 1;
}


.maa {
	margin-top: 5vh;
	position: absolute;
  display: inline-block;
   display: inline-block;

}
#maaKuva {
	opacity: 90%;
	width: 50vh;
	animation-name: spin;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}




@keyframes marquee {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(10%, 0, 0);
  }
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.maa:hover .dropdown-content {
  display: block;
}