article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}a,hr{padding:0}abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}ins,mark{background-color:#ff9;color:#000}body{line-height:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}ins{text-decoration:none}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;margin:1em 0}input,select{vertical-align:middle}

a {
  color: inherit;
  text-decoration: inherit;
}

body {

	color: orangered;
	font-weight: bold;
	font-size: 20px;
	height: 100%;
	width: 100%;
	text-shadow: deeppink 1px 0 10px;
	background: whitesmoke;
}

.header{
	width: 100%;
	flex: 1;
	white-space: nowrap;
	text-align: right;
  overflow: hidden;
  display: inline-block;
  animation: marquee 20s linear infinite;  
} 



@keyframes marquee {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(10%, 0, 0);
  }
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
.grid-container {
  columns: 5 400px;
  column-gap: 1rem;
  width: 100%;
  margin: 0 auto;
   }
  
  .box{
    width: 200px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border
    padding: 5px;
    box-shadow: 5px 5px 5px white;
  }

  
    img {
      width: 100%;
      border-radius: 5px;
      transition: all .25s ease-in-out;
    }
    p{
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
      opacity: 0;
    }






